<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="microsoft.scripting" type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting, Version=1.1.0.1, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
  </configSections>


  <!-- Bernd stuff begin # # # # # # # # # # # #  -->
  <connectionStrings>
    <add name="njbDATA" connectionString="mongodb://localhost" />
  </connectionStrings>
  <!-- Bernd stuff end # # # # # # # # # # # #  -->

    <system.web>
    <compilation debug="true" batch="false" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" executionTimeout="240" maxRequestLength="81920"/>
    <pages compilationMode="Auto" pageParserFilterType="Microsoft.Scripting.AspNet.UI.NoCompileCodePageParserFilter" pageBaseType="Microsoft.Scripting.AspNet.UI.ScriptPage" userControlBaseType="Microsoft.Scripting.AspNet.UI.ScriptUserControl">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpModules>
      <add name="DynamicLanguageHttpModule" type="Microsoft.Scripting.AspNet.DynamicLanguageHttpModule" />
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
  
<!-- Bernd stuff begin # # # # # # # # # # # #  -->
  <globalization requestEncoding="utf-8" responseEncoding="utf-8" responseHeaderEncoding="utf-8" culture="auto" uiCulture="auto"/>

  <sessionState
      mode="InProc"
      cookieless="AutoDetect"
      cookieName="ASP.NET_SessionId"
      timeout="120"
      allowCustomSqlDatabase="false"
      regenerateExpiredSessionId="true"
      partitionResolverType=""
      useHostingIdentity="true">
    <providers>
      <clear />
    </providers>
  </sessionState>

  <!-- redirect some stings -->
  <!--                                -->
  <!-- announcment : request for help -->
  <urlMappings enabled="true">
    <add url="~/pinnwand" mappedUrl="~/PinBoard.aspx" />
    <add url="~/pinboard" mappedUrl="~/PinBoard.aspx" />
  </urlMappings>

      <!-- Bernd stuff end   # # # # # # # # # # # #  -->

  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="DynamicLanguageHttpModule" preCondition="integratedMode" type="Microsoft.Scripting.AspNet.DynamicLanguageHttpModule" />
    </modules>
        <directoryBrowse enabled="true" />
  </system.webServer>
  <microsoft.scripting debugMode="false">
    <languages>
      <language names="IronPython;Python;py" extensions=".py" displayName="IronPython 2.7A1" type="IronPython.Runtime.PythonContext, IronPython, Version=2.7.0.1, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </languages>
  </microsoft.scripting>

  <appSettings>
    <!-- The mongo-DB stuff needed to use the SQL-free database   !!  -->
    <!-- db is used in respect of http://de.wikipedia.org/wiki/Heinrich_I._%28England%29 -->
    <add key="mongoConn" value="mongodb://127.0.0.1" />
    <add key="dbName" value="henry" />

    <add key="stringSeperator" value=";" />
    <!-- the list off possible request-classes, that define the type of a nejoba request 
    <add key="requestClasses" value="bringservice;human2human;home;office;transport;children;garden;computer;vehicles;education;homework;pets;leisure;personalhygiene;craft;notspecified" />
    -->

    
    <!-- the list off available object-types, tha are supported in nejoba -->
    <!--                                -->
    <!-- announcment : request for help -->
    <!-- event                          -->
    <!-- place                          -->
    <!-- article                        -->
    <!-- comment : item in discussion   -->
    <!-- offer : offer from serviceman  -->
    <!--                                -->
    <add key="objectTypes" value="JOB_ROOT;DEBATE_ROOT;EVENT_ROOT;PLACE_ROOT;REPORT_ROOT;JOB_HEADER;DEBATE_HEADER;EVENT_HEADER;PLACE_HEADER;REPORT_HEADER;JOB_MSG;DEBATE_MSG;EVENT_MSG;PLACE_MSG;REPORT_MSG;JOB_SUBSCRIBER;DEBATE_SUBSCRIBER;EVENT_SUBSCRIBER;PLACE_SUBSCRIBER;REPORT_SUBSCRIBER" />

    <!-- the list off available account-types. base or payed or (later) premium-->
    <add key="accountRoles" value="free;premium;maintain;admin" />

    <!-- LogCache  internal logging of the application !!!!  -->
    <add key="logFilePath" value="c:\Develop\njb_2\log" />
    <add key="logFileName" value="_njb_messages.log" />
    <add key="errorFilePath" value="c:\Develop\njb_2\log" />
    <add key="errorFileName" value="_njb_error.log" />
    <add key="logLevelDef" value="error,message,debug,develop" />
    <add key="logLevel" value="develop" />
    <add key="logCacheCount" value="1" />

    <!-- email-server config   !!  -->
    <add key="smtpServer" value="smtp.gmail.com" />
    <add key="smtpUser" value="info.nejoba@gmail.com" />
    <add key="smtpPwd" value="aspirin321?" />
    <add key="cptchSndrAdrss" value="info.nejoba@googlemail.com" />

    <!-- Captcha Code Generation  -->
    <add key="CodeGenQueue" value="0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ#*+-/" />
    <add key="captchaStrngLngth" value="8" />

    <!-- Supported Countries first GERMANY; AUSTRIA; LICHTENSTEIN; SWITZERLAND; NAMIBIA; ITALY (SOUTH-TIROL) -->
    <add key="nationList" value="DE;AT;LI;CH;LU;BE;NL;DK;PL;CZ" />
    <add key="nationNames_DE" value="Deutschland;Österreich;Liechtenstein;Schweiz;Luxemburg;Belgien;Niederlande;Dänemark;Polen;Tschechien" />
    <add key="areaSize" value="17" />
    <add key="serverHostName" value="BlueBerry" />





    <!--
    <add key="jobType_DE" value='Bitte wählen;Hausarbeit;Gartenarbeit;Handwerker gesucht;Menschen;Bringdienste;Körperpflege;Haustiere;Kinder;PC und Internet;Transport;Heimarbeit;Bildung;Büroarbeit;Auto und Motorrad;Freizeit;Sonstiges' />
    <add key="jobTypeValue" value='-1;§*JTD01_home;§*JTD01_garden;§*JTD01_craft;§*JTD01_human2human;§*JTD01_bringservice;§*JTD01_personalhygiene;§*JTD01_pets;§*JTD01_children;§*JTD01_computer;§*JTD01_transport;§*JTD01_homework;§*JTD01_education;§*JTD01_office;§*JTD01_vehicles;§*JTD01_leisure;§*JTD01_notspecified' />
    -->

    <add key="jobType_DE" value='*;Hausarbeit;Gartenarbeit;Handwerker gesucht;Menschen;Bringdienste;Körperpflege;Haustiere;Kinder;PC und Internet;Transport;Heimarbeit;Bildung;Büroarbeit;Auto und Motorrad;Freizeit;Sonstiges' />
    <add key="jobTypeValue" value='*;§*JTD01_HOME;§*JTD01_GARDEN;§*JTD01_CRAFT;§*JTD01_HUMAN2HUMAN;§*JTD01_BRINGSERVICE;§*JTD01_PERSONALHYGIENE;§*JTD01_PETS;§*JTD01_CHILDREN;§*JTD01_COMPUTER;§*JTD01_TRANSPORT;§*JTD01_HOMEWORK;§*JTD01_EDUCATION;§*JTD01_OFFICE;§*JTD01_VEHICLES;§*JTD01_LEISURE;§*JTD01_NOTSPECIFIED' />

    <!-- 
    captcha character array for creating captcha codes 
    <add key="nationList" value="0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ" />
    
    original job_type_definitions
    <add key="jobTypeValue" value='-1;home;garden;craft;human2human;bringservice;personalhygiene;pets;children;computer;transport;homework;education;office;vehicles;leisure;notspecified' />

    -->

    <!-- URL REPOSITORY    needed in the application  -->
    <add key="OfferJob" value="~/wbf_functs/jobs_editor.aspx" />
    <add key="SearchJob" value="~/wbf_functs/jobs_search.aspx" />
    <add key="ListJobs" value="~/wbf_functs/jobs_list.aspx" />
    <add key="StartDebate" value="~/wbf_functs/debate_editor.aspx" />
    <add key="SearchDebate" value="~/wbf_functs/debate_search.aspx" />
    <add key="ListDebates" value="~/wbf_functs/debate_list.aspx" />
    <add key="AddArticleToDebate" value="~/wbf_functs/debate_article_editor.aspx" />
    <add key="AddToTrialThread" value="~/wbf_functs/job_trial_editor.aspx" />
    <add key="MessageViolation" value="~/wbf_info/violation_editor.aspx" />
    <add key="ViewDetailForm" value="~/wbf_functs/show_details.aspx" />
    
    <!-- added 29_01_2013                        -->
    <add key="CancelOffer" value="~/wbf_account/user_offer_cancel.aspx" />
    <add key="ListJobTrials" value="~/wbf_functs/job_trial_list.aspx" />
    <add key="ListSubscribedTags" value="~/wbf_account/user_list_tags.aspx" />

    <add key="UserMainPage" value="~/wbf_account/user_home.aspx" />
    <add key="UsersJobOffers" value="~/wbf_account/user_jobs.aspx" />
    <add key="UsersJobsRequests" value="~/wbf_account/user_offers.aspx" />
    
    <add key="CreateAccount" value="~/wbf_account/user_create.aspx" />
    <add key="ConfirmAccount" value="~/wbf_account/user_confirm.aspx" />
    <add key="ChooseList" value="~/wbf_account/user_choose_list.aspx" />

    <add key="BuiRules" value="~/wbf_info/agb.aspx" />
    <add key="Impressum" value="~/wbf_info/impressum.aspx" />
    <add key="Contact" value="~/wbf_info/contact.aspx" />
    <add key="ImportGeoData" value="~/wbf_maintain/data_geoimport.aspx" />
    <add key="ListWithLinks" value="~/wbf_maintain/Links.aspx" />
    <add key="ForbiddenWebForm" value="~/wbf_maintain/not_allowed.aspx" />

    <add key="LogIn" value="~/login.aspx" />
    <add key="LogOut" value="~/logout.aspx" />
    <add key="LogInFailure" value="~/loginfailure.aspx" />
    

    <add key="IntroDebate" value="~/wbf_info/IntroDebate.aspx" />
    <add key="IntroWork" value="~/wbf_info/IntroWork.aspx" />

    <!-- added 04_02_2013   PayPal STUFF              -->
    <add key="PayPalBusinessEmail" value="nejoba@t-online.de" />
    <add key="PayPalItemName" value="OVERWRITTEN" />
    <add key="PayPalItemNumber" value="OVERWRITTEN" />
    <add key="PayPalAmount" value="1" />
    <add key="PayPalNoShipping" value="1" />
    <add key="PayPalNoNote" value="1" />
    <add key="PayPalCurrencyCode" value="EUR" />
    <add key="PayPalNotifyUrl" value="http://www.nejoba.net/paypalreceiver.aspx" />
    <add key="PayPalOn0" value="OVERWRITTEN" />
    <add key="PayPalOn1" value="OVERWRITTEN" />
    <add key="PayPalUndefinedQuantity" value="0" />

    <!-- URLs used for billing -->
    <add key="PremiumAdvantageHours" value="36" />
    <add key="PayPalNotifyUrl" value="www.nejoba.net/njb02/wbf_account/paypalReceive.aspx" />
    <add key="PayPalReceiver" value="~/wbf_account/pay_receive.aspx" />

    <add key="StartPayment" value="~/wbf_account/pay_start.aspx" />
    <add key="PrintMoneyTransfer" value="~/wbf_account/pay_banktransfer.aspx" />
    <add key="InitPayPalPayment" value="~/wbf_account/pay_payPalOrder.aspx" />
    <add key="PaymentFinished" value="~/wbf_account/pay_finished.aspx" />

    <!-- URLs used for billing -->
    <add key="UsersDebates" value="~/wbf_account/user_debates.aspx" />
    <add key="UsersDebatesAdds" value="~/wbf_account/user_debates_adds.aspx" />
    <add key="UsersDebatesStarted" value="~/wbf_account/user_debates_started.aspx" />

    <!-- 15.02.2013 : number of items that have to be loaded -->
    <add key="MinNumOfJobs" value="40" />
    <add key="MinNumOfDebates" value="10" />

    <!-- 19.02.2013 : mail-body-templates that nejoba sends -->
    <add key="ConfirmUserHtmlBody" value="~/App_Data/tmplate_newmember_debate.html" />
    <add key="JobTrialHtmlBody"    value="~/App_Data/tmplate_email_trial.html" />
    <add key="DebateNotifyHtmlBody" value="~/App_Data/tmplate_email_debate.html" />

    <!-- 21.02.2013 : online-help machine -->
    <add key="OnlineHelp" value="~/wbf_help/help.aspx" />
    <add key="IntroHelp" value="~/wbf_help/intro.aspx" />
    <add key="ChooseJobOffer" value="~/wbf_info/IntroWork.aspx" />
    <add key="ChooseJobSearch" value="~/wbf_functs/IntroWork.aspx" />

    <!-- 21.02.2013 : online-help machine -->
    <add key="DetailsForStrangers" value="~/wbf_functs/show_for_stranger.aspx" />

    <!-- 04.03.2013 : online-help machine -->
    <add key="BankName" value="Sparkasse Neuss" />
    <add key="BankCode" value="305 500 00" />
    <add key="BankIBAN" value="DE 86 3055 0000 0093 4149 28" />
    <add key="BankBIC" value="WELADEDNXXX" />
    <add key="AccountNumber" value="934 149 28" />
    <add key="AccountOwner" value="nejoba UG und Co. KG" />

    <!-- 18.03.2013 : online-help machine -->
    <add key="TaggingMatrixDefinition" value="~/App_Data/taggingIndex.txt" />

    <!-- 20.03.2013 : regio-themes helper webforms -->
    <add key="DefineTaggCategory" value="~/wbf_topic/topic_set_tagging.aspx?mode=define" />
    <add key="SearchTaggByCategory" value="~/wbf_topic/topic_set_tagging.aspx?mode=search" />
    <add key="DisplayHashTaggs" value="~/wbf_topic/topic_display_taggs.aspx" />
    <add key="ShowFromUrl" value="~/wbf_topic/topic_by_parameter.aspx" />
    <add key="DefineLocation" value="~/wbf_functs/define_location.aspx" />
    <add key="LocationForHashTaags" value="~/wbf_functs/define_location.aspx?mode=tagg" />

    <!-- 18.04.2013 : added jump-to URL for the pinnwand-default page  -->
    <add key="simplePinnBoard" value="~/wbf_topic/parameter_result_list.aspx" />

    <!-- 23.04.2013 : added jump-to URL for selecting a regional pinnwall-->
    <add key="startPinnBoard" value="~/PinBoard.aspx" />

    <!-- 27.04.2013 : the functions opens the webform for reusing the pinnwall in a different application -->
    <add key="reuseListExternal" value="~/wbf_topic/reuse_list_external.aspx" />

    <!-- 21.05.2013 : the functions opens the webform for reusing the pinnwall in a different application -->
    <add key="confirmMapUserLink" value="~/maopofchange/aktimap_confirmUser.aspx" />
    <add key="confirmUserForMap" value="~/wbf_activemap/confirm_map_user.aspx" />
    <add key="mainMapLink" value="~/maopofchange/aktimap_mainmap.aspx" />
    <add key="mapRndDistance" value="3.0" />

    <!-- 27.05.2013 : the functions opens the webform for reusing the pinnwall in a different application -->
    <add key="StartPage" value="~/Default.aspx" />
    <add key="JobMarket" value="~/job_market.aspx" />
    <add key="MicroBlog" value="~/micro_blog.aspx" />
    <add key="ListRegUsers" value="~/maopofchange/list_map_data.aspx" />
    <add key="RootDirMap" value="~/map.aspx" />

    <!-- 03.06.2013 number of initiatives that can be inserted with an account -->
    <add key="MaxOfInitiativesForOneUser" value="5" />

    <!-- 24.03.2013 : string headers for hashtaagggggs with command-function IMPORTANT     A COMMAND TAG STARTS WITH § ; IF IT IS A RUBRIC IT STARTS WITH  §*R  -->
    <add key="rubricCmdTagg" value="§*R01" />

    <!-- 12.07.2013 configuration to get the duration of one slice in days (part of the item-timeline)   -->
    <add key="SliceDuration" value="90" />
    <!-- 27.07.2013 the number of slices that are stored in the cache. the idea is to check smaller slices in the DB if we have lots of data  -->
    <add key="SlicesCached" value="1" />

    <!-- 14.07.2013 the amount of items that will be returned for an initial request without parameters it is usedb y the AJAX webform dataSource__cache   -->
    <add key="InitialResponseLength" value="1500" />

    <!-- 10.08.2013 : added jump-to URL displaying items with javascript  -->
    <add key="debateProjector" value="~/projector_debateList.aspx" />
    <add key="debateMap" value="~/projector_DebateMap.aspx" />

    <!-- 11.09.2013 : added jump-to cretaeMapUser  -->
    <add key="CreateMapAccount" value="~/wbf_activemap/create_map_user.aspx" />

    <!-- 22.10.2013 : definitions for the item-type-matrix -->
    <add key="ANNONCE_MATRIX" value="~/App_Data/rbrcs/ANNONCE_MATRIX.txt" />
    <add key="ASSOCIATION_MATRIX" value="~/App_Data/rbrcs/ASSOCIATION_MATRIX.txt" />
    <add key="BUSINESS_MATRIX" value="~/App_Data/rbrcs/BUSINESS_MATRIX.txt" />
    <add key="DEMOCRACY_MATRIX" value="~/App_Data/rbrcs/DEMOCRACY_MATRIX.txt" />
    <add key="EVENT_MATRIX" value="~/App_Data/rbrcs/EVENT_MATRIX.txt" />
    <add key="HOBBY_MATRIX" value="~/App_Data/rbrcs/HOBBY_MATRIX.txt" />
    <add key="INITIATIVE_MATRIX" value="~/App_Data/rbrcs/INITIATIVE_MATRIX.txt" />
    <add key="LOCATION_MATRIX" value="~/App_Data/rbrcs/LOCATION_MATRIX.txt" />
    <add key="LONELY_HEARTS_AD_MATRIX" value="~/App_Data/rbrcs/LONELY_HEARTS_AD_MATRIX.txt" />
    <add key="PET_MATRIX" value="~/App_Data/rbrcs/PET_MATRIX.txt" />
    <add key="RIDE_SHARING_MATRIX" value="~/App_Data/rbrcs/RIDE_SHARING_MATRIX.txt" />
    <add key="STARTUP_MATRIX" value="~/App_Data/rbrcs/STARTUP_MATRIX.txt" />
    <add key="SWAP_MATRIX" value="~/App_Data/rbrcs/SWAP_MATRIX.txt" />
    <add key="FAMILY_MATRIX" value="~/App_Data/rbrcs/FAMILY_MATRIX.txt" />

    <!-- 22.10.2013 all tag-preficxes ( currently defined in the javascript-file MatrixManager.js   -->
    <add key="TagPrfxEvent" value="§EVT" />
    <add key="TagPrfxAnnonce" value="§ANO" />
    <add key="TagPrfxInitiatives" value="§INI" />
    <add key="TagPrfxBusiness" value="§BUI" />
    <add key="TagPrfxLocation" value="§LOC" />

    <!-- 21.12.2013 items for the job-paging   -->
    <add key="JobPageLength" value="15" />



  </appSettings>
</configuration>